@import "fonts";
@import "variables";

* {
  padding: 0;
  margin: 0;
  box-sizing: border-box;
}

html, body {
  padding: 0;
  margin: 0;
  width: 100%;
  min-height: 100vh;
}

.header {
  width: 100%;

  &.top-fixed {
    position: fixed;
    top: 0;
    left: 0;
    background: transparent;
  }

  nav.navigation {
    padding: 22px;
    height: auto;
    grid-template-columns: 60% 40%;
    grid-template-rows: auto;
    display: grid;

    .navbar-left {
      // navbar content left
    }

    .navbar-right {
      // navbar content right
    }

    .navbar-items {
      ul {
        li {
          display: inline-block;

          a {
            font-size: 1.5rem;
            padding: 12px 16px;
            color: $color-white;
            text-decoration: none;
            text-transform: capitalize;
            border-bottom: 2px solid transparent;
            transition: border-bottom .4s ease;
            display: block;

            &:hover {
              border-bottom: 2px solid $color-white;
            }
          }
        }
      }
    }
  }
}

section.page {
  padding: 0;
  margin: 0;
  width: 100%;
  height: auto;

  &#home {
    padding: 10vh 0;
    margin: 0;
    height: 100vh;
    background: rgba(4, 22, 33, 1);

    .row {
      height: 80vh;
      display: grid;
      grid-template-columns: 10vw 60vw 30vw;
      grid-template-rows: auto;
    }

    .col {
      padding: 0;
      margin: 0;
      position: relative;
      &.col-left {
        hr {
          width: 2px;
          height: 20vh;
          border: 0;
          background: $color-white;
          &:first-child {
            position: absolute;
            top: 0;
          }
          &:last-child {
            position: absolute;
            bottom: 0;
          }
        }
        .social {
          font-size: 2.5rem;
          a {
            margin: 50px 0;
            color: $color-white;
            text-decoration: none;
            display: block;
          }
        }
      }

      &.col-middle {
      }

      &.col-right {
        justify-content: left;
        img {
          width: 30%
        }
      }
    }
  }
}
